@import url('https://fonts.googleapis.com/css?family=Comfortaa+Light');
/*LOAD SCREEN*/

/*LOAD SCREEN*/

/*BACKGROUND*/
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
  background: linear-gradient(90deg, #411B65 0%, #000000 100%);
  background-size: 150%;
  animation: gradient 1300ms linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
      0% {background-position: 0%}
      100% {background-position: 100%}
  }
/*BACKGROUND*/


h1 {
  font-family: 'Comfortaa', arial, sans-serif;
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  color: #fbfbfb;
}

/*RECTANGLE*/
#rectangle{
    width:490px;
    height:85px;
    background: rgba(82, 36, 155, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

#gamepad{
    width:37%;
}

#circle{
    width:180px;
    height:180px;
background: rgba(82, 36, 155, 0.2);
border-radius: 180px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1px);
-webkit-backdrop-filter: blur(1px);

}

.parentClass_GP {
            top: 125px;
            left:500px;
            position: absolute;
        }

.childClass_GP {
            top:10px;
            left:50px;
            position: absolute;
        }

.parentClass {
            position: absolute;
        }

.childClass {
             top:30px;
             bottom:0;
             left:-10px;
             right:0;

            position: absolute;
        }
/*RECTANGLE*/


/* BUTTON1 */
.button1 {
  width:480px;
  height:85px;

  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  position: absolute;
  top: 350px;
  left:125px;
}

.button1:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }

  @media (min-width: 768px) {
    .button1 {
      padding: 0 2.6rem;
    }
  }
/* BUTTON1 */

/* BUTTON2 */

.button2 {
  width:480px;
  height:85px;

  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  position: absolute;
  top: 350px;
  right:125px;
}

.button2:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }

  @media (min-width: 768px) {
    .button2 {
      padding: 0 2.6rem;
    }
  }

/* BUTTON2 */


/*ВЫБОР ФАЙЛА*/

.inputbox {
  position: relative;
  width: 196px;
}

.inputbox input {
  position: relative;
  top: 74%;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  bottom: 18%;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
  color: #9061ff;
  -webkit-transform: translateX(-10px) translateY(-34px);
      -ms-transform: translateX(-10px) translateY(-34px);
          transform: translateX(-10px) translateY(-34px);
  font-size: 0,75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 18%;
  width: 100%;
  height: 2px;
  background: #9061ff;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
  height: 44px;
}


/*ВЫБОР ФАЙЛА*/

/*SUBMIT*/
.submit {
  width:240px;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  position: absolute;
  left: 60%;
  bottom: 17%;
}

.submit:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }

  @media (min-width: 768px) {
    .submit {
      padding: 0 2.6rem;
    }
  }

/*SUBMIT*/

/*GROUP1*/

.group1 {
  padding: 1rem 2rem;
  font-weight: 700;
  background: rgb(255, 255, 255);
  color: blueviolet;
  border-radius: .5rem;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top, 
     border-left, 
     border-bottom,
     border-right,
     box-shadow;
  position: absolute;
  left: 65%;
  bottom: 5%;
  animation: group1 2s ease 2s 1 normal forwards;
 }


 .group1:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
 }

 #id_group1 {
  position: relative;
  transition: transform 2s ease-in-out;
  transform: translate(0, 0);
}

.animated {
  transform: translate(250px, 30px);
}



/*GROUP1*/

/*GROUP2*/

.group2 {
  padding: 1rem 2rem;
  font-weight: 700;
  background: rgb(255, 255, 255);
  color: blueviolet;
  border-radius: .5rem;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top, 
     border-left, 
     border-bottom,
     border-right,
     box-shadow;
  position: absolute;
  left: 60%;
  bottom: 50%;
 }
 
 .group2:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
 }

 /*GROUP2*/

 /*GROUP3*/

 .group3 {
  padding: 1rem 2rem;
  font-weight: 700;
  background: rgb(255, 255, 255);
  color: blueviolet;
  border-radius: .5rem;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top, 
     border-left, 
     border-bottom,
     border-right,
     box-shadow;
  position: absolute;
  left: 60%;
  bottom: 60%;
 }
 
 .group3:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
 }

 /*GROUP3*/